# Qt per-platform settings
*.pro.user

# Makefiles
Makefile*

# Debug symbols
*.pdb

# Compiled binaries
debug/*
release/*
*.o
moc_*
qrc_*

# OS-specific indices
.DS_Store
Thumbs.d

# Sublime Text workspace
*.sublime-workspace

